/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

:root {
    --header_bk:#255ee9;
    --text_color: white;
    --color_app: hsl(205.71deg 9.09% 15.1%);
    --bg_color_section: #e5e5e5;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}


header {
    color: var(--text_color);
    padding: 2rem;

}

button {
    border: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;
}



footer {
    background-color: rgb(66, 110, 236);
}


h1 {
    margin-top: 15%;
    margin-bottom: 10%;
    font-weight: bold;
    font-size: 4rem;
    color: var(--text_color);
    
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 1rem;
}

h3 {
    background-image: url(../img/stars.svg);
    background-size: contain;
    max-width: 100%;
    background-repeat: no-repeat;
    padding: 3rem;
    font-size: 2rem;
}



p {
    line-height: 2rem;
    margin-top: 5%;
    padding-bottom: 2%;
    font-size: 1.25rem;
}

i {
    font-size: smaller;

}

.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end-start {
    display: flex;
    justify-content: end;
    align-items: end;
}

.col-1 {
    width: 10%;

}

.col-2 {
    width: 20%;
}

.col-4 {
    width: 40%;
}

.col-8 {
    width: 60%;
}

.login {
    flex-direction: row-reverse;
}

.jumbotron {

    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 15%;
}

.p-10 {
    padding-left: 5%;
    padding-right: 5%;
}

.big {
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
}

.open_app {
    background-color: var(--color_app);
    color: var(--text_color);
}

.left {
    margin-left: 3rem;
}

.right {
    margin-right: 3rem;
}

.wave {
    background-image: url(../img/wave.svg);
    height: 10rem;
    opacity: 0.1;
}
.reverse{
    transform: rotate(180deg);

}

.bg-grey {
    background-color: var(--bg_color_section);
}



/* sono arrivato fin qua */

.download {
    background-color: rgba(171, 174, 189, 255);
    height: 10rem;
    width: 45%;
    margin: auto;
    border: 1px dashed black;
}

.main_bottom {
    margin-top: 6rem;
    margin-bottom: 4rem;
    height: 20rem;
    background-color: rgba(249, 217, 156, 255);
}

/* footer */

footer {
    padding-bottom: 4rem;
}


.dark_grey {
    background-color: rgba(163, 153, 162, 255);
    height: 25rem;
}


.grey {
    background-color: rgba(170, 168, 173, 255);

}

.logo,
.button {
    height: 2rem;
    width: 5rem;
    background-color: rgba(249, 217, 156, 255);
}



.top {
    height: 15rem;
    padding-top: 1rem;
    justify-content: space-between;


}

.row.top.grey>div {
    height: 10rem;
}

.top>div {
    background-color: rgba(249, 217, 156, 255);
}

.mid {
    height: 3rem;
    justify-content: space-between;
    align-items: center;
}